html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #ddd;
  margin: 0;
  padding: 0;
  text-align:  center;
}

.container {
  padding-top: 20vh;
  margin: 0 auto;
  border-color: red;
  width: 80vw;
}

a {
  text-decoration: none;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  padding: 8px 20px;
  background: transparent;
  font-size: 1.2em;
  color: #ddd;
  border-radius: 8px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  cursor: pointer;
}

.btn:active {
  background: #ddd;
  color: #000;
}

.joke {
  margin-top: 30vh;
  font-size: 22px;
}

#twbird {
  height: 1.3em;
  margin-bottom: -0.3em;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;

  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 350%;
    top: -120%;
    left: -15%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}


@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/cn.jpg') center center / cover no-repeat;
    bottom: -2%
  }

  .fullscreen-bg__video {
    display: none;
  }

  .container {
    width: 90vw;
    padding-top: 0;
  }

  .btn {
    font-size: 16px;
    margin: 10px;
    padding: 10px 16px;
  }

  .joke {
    margin-top: 35vh;
    font-size: 18px;
  }
}