<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wikipedia Search</title>
	<link href="css/wikiViewer.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
</head>
<body ng-app="wiki-viewer" ng-controller="MainController as mCtrl" ng-click="mCtrl.showAC = false">
	<div id="appbox">
		<img id="logo" src="https://upload.wikimedia.org/wikipedia/en/8/80/Wikipedia-logo-v2.svg" alt="Wikipedia"/>
		<a id="random" href="https://en.wikipedia.org/wiki/Special:Random">Random</a>
		<form ng-submit="mCtrl.searchAll(searchInput)">
			<input type="text" ng-model="searchInput" ng-change="mCtrl.changed(searchInput)" id="searchInput" placeholder="Search" autocomplete="off" />
		</form>
		<div ng-show="mCtrl.showAC" id="popover">
			<div class="dropdown" ng-repeat="suggest in mCtrl.datalist" ng-click="mCtrl.searchTitle(suggest)">{{suggest}}</div>
		</div>
		<a ng-repeat="newsItem in mCtrl.pages" href="{{newsItem.page}}" target="_blank">
			<div class="unit">
				<span class="contentArea">
					{{newsItem.title}}<br/>
					<span class="info">{{newsItem.extract}}</span>
				</span>
			</div>
		</a>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/wikiViewer.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85604949-1', 'auto');
      ga('send', 'pageview');
  </script>
</body>
</html>
